td {
  vertical-align: top;
}

.compileroutput {
  background: #cccccc;
  border: 1px ridge #999999;
  white-space: pre-wrap;
  font-family: monospace;
  display: block;
}

.codesnapshot {
  line-height: 1.4em;
}

.timestamp {
  font-size: 100% !important;
}

/* Changing styles for x-ray mode */
code.xray {
  color: gray !important;
}

code.xray > span {
  background: green;
}

/* Ensuring the typeahead dropdowns aren't obscured by the navbar */
.typeahead.dropdown-menu {
  z-index: 2000;
}

/* Making the search boxes full height for the navbar */
#shaSearch {
  height: 100%;
}

.pad-body-for-navbar {
  padding-top: 50px;
}

.pager {
  margin-bottom: 0% !important;
  margin-top: 1.5% !important;
}

/* Zooming */
table {
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
}

table {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -moz-transition: -moz-transform       2s ease-in-out;
  -o-transition: -o-transform           2s ease-in-out;
}

.snapshotMetadata {
  -webkit-transition: font-size 2s ease-in-out;
  -moz-transition: font-size    2s ease-in-out;
  -o-transition: font-size      2s ease-in-out;
}
