td {
  vertical-align: top;
}

.compileroutput {
  background: #cccccc;
  border: 1px ridge #999999;
  white-space: pre-wrap;
  font-family: monospace;
  display: block;
}

.codesnapshot {
  line-height: 1.4em;
}

.timestamp {
  font-size: 100% !important;
}

/*--- Changing styles for x-ray mode ---*/
code.xray {
  color: gray !important;
}

code.xray > span {
  background: green;
}

/*--- Ensuring the typeahead dropdowns aren't obscured by the navbar ---*/

.typeahead.dropdown-menu {
  z-index: 2000;
}
