<html>
<head>
  <title>Timeline</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="TimelineStyle.css">
  <link rel="stylesheet" type="text/css" href="prism.css">
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>
  <table>
    <tr>
      {{#snapshots}}
        <td>
          <div class="timestamp">{{timestamp}}</div>
          <pre class="language-clike"><code>{{code}}</code>
          </pre>
        </td>
      {{/snapshots}}
    </tr>
  </table>
  <script src="prism.js" type="text/javascript"></script>
  <script src="jQuery.js" type="text/javascript"></script>
  <script src="bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
