<html>
<head>
  <title>Timeline</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="TimelineStyle.css">
  <link rel="stylesheet" type="text/css" href="prism.css">
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>
  <table>
    <tr>
      {{#snapshots}}
        <td>
          <div class="timestamp">
            <time id="{{revision}}">{{timestamp}}</time>
          </div>
          <div class="codesnapshot">
            <pre class="language-clike" data-line="{{changedLines}}"><code>{{code}}</code>
          </div>
          </pre>
        </td>
      {{/snapshots}}
    </tr>
  </table>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="#">CodeTimeline</a>
      <ul class="nav">
        <li class="inactive toggleable" id="xrayToggle"><a href="#">X-Ray Mode</a></li>
        <li class="inactive toggleable" id="zoomToggle"><a href="#">Zoom</a></li>
      </ul>
      <form class="navbar-form pull-left">
        <input type="text"
               id="shaSearch"
               placeholder="Search">
      </form>
    </div>
  </div>
  <script src="prism.js" type="text/javascript"></script>
  <script src="jQuery.js" type="text/javascript"></script>
  <script src="bootstrap.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    var revisions = [{{{revisions}}}];
  </script>
  <script src="Timeline.js" type="text/javascript"></script>
</body>
</html>
