td {
  vertical-align: top;
}

.compileroutput {
  background: #cccccc;
  border: 1px ridge #999999;
  white-space: pre-wrap;
  font-family: monospace;
  display: block;
}

code {
  /*font-size: 2pt !important*/
}

/*--- Changing styles for x-ray mode ---*/
pre .xray {
  font-color: gray !important;
}
